#popUp{
    visibility: hidden;
}

#awnserText{
    visibility: hidden;
}

/* .content{
    display:flex;
    flex-direction: column;
}

.reihe{
    display:flex;
    justify-content: space-around;
}

.spalte{
    display: flex;
    flex-direction: column;
}
*/

body{
    margin: 0px;
    background-color: black;
}

button{
    width: 100px;
    
}

h3{
    margin:3px;

}

.content{
    display:grid;
    grid-template-columns: 50dvw 50dvw;
    background-color: black;
    grid-template-areas:
    "eins eins"
    "zwei drei"
    "vier fünf"
    "sechs sieben" ;
    height: 100dvh;
}

.spalte{
    display:flex;
    row-gap: 2px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2px;
    min-height: 150px;

}

#JansSpalten{
    display:flex;
    flex-direction: row;
    column-gap: 5px;
    
}
.jsspalte{
    display:flex;
    row-gap: 2px;
    flex-direction: column;
    align-items: center; 
}

#spalteEins{
    grid-area: eins;
    background-color: red;
}
#spalteZwei{
    background-color: orange;
}
#spalteDrei{
    background-color: green;
}
#spalteVier{
    background-color: aqua;
}
#spalteFünf{
    background-color: blueviolet;
}
#spalteSechs{
    background-color: chartreuse;
}
#spalteSieben{
    background-color: crimson;
}